{
    "presets": ["@babel/preset-react"],
    "plugins": [
        [
            "babel-plugin-add-import-extension",
            {
                "extension": "jsx",
                "replace": true,
                "observedScriptExtensions": [
                    "js",
                    "ts",
                    "jsx",
                    "tsx",
                    "mjs",
                    "cjs"
                ]
            }
        ]
    ]
}
