/*! Start Break Points */
    /*  Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) { ... }

    Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { ... }

    Large devices (desktops, 992px and up)
    @media (min-width: 992px) { ... }

    X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { ... }

    XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) { ... } */
/*! End Break Points */



/**************************************** Start Global Vars ****************************************/
:root {
    --main-color:rgb(220,53,69);
    --bg-color:#ffffff;
}

/**************************************** End Global Vars ****************************************/

/****************************************? Start Layout ****************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/****************************************? End Layout ****************************************/

/**************************************** Start Logo ****************************************/
#logo {
    height: 70px;
    width: auto;
}
/**************************************** End Logo ****************************************/
/****************************************? Start Nav List ****************************************/

#header{
    position: fixed;
    z-index: 1;
}

#nav-link.active,
#nav-link:focus,
#nav-link:hover {
    font-weight: bold;
}

#navbar-toggler {
    color: red;
    size: 25px;
    border-color: var(--main-color);
}
#navbar-toggler:focus {
    box-shadow: none;
}
#navbar-toggler[aria-expanded='true'] {
    border-color: black;
    
}

.login {
    padding-left: 0px;
}
/****************************************? End Nav List ****************************************/

/**************************************** Start Landing ****************************************/

#landing{
    position: relative;

}

#landing .landing-image::before{
    content: '';
    position: absolute;
    background-color: black;
    opacity: .4;
    width: 100%;
    height: 100%;
}

#landing .typped{
    position: absolute;
    top: 15%;
    left: 30%;
    color: var(--bg-color);
    font-weight: bolder;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/**************************************** End Landing ****************************************/

