<div id="landing">
    <div class="landing-image">
        <div class="element"></div>
        <img class="img-fluid mt-0 m-auto vw-100" src="../../../../static/images/landing2.jpeg" alt="landing-image">
    </div> 
</div> 
<script>
    // Can also be included with a regular script tag
        import Typed from 'typed.js';

        var options = {
            strings: ['<i>First</i> sentence.', '&amp; a second sentence.'],
            typeSpeed: 40
        };

        var typed = new Typed('.element', options);
</script>