{% extends "core/base.html" %}
{% load static %}
{% block title %} Home{% endblock %}
{% block cars %}
<div>
    <h3>This is the title</h3>
    <img  src="{% static 'images/car.jpeg' %}">
</div>
<div>
    <h3>This is the title</h3>
    <img  src="{% static 'images/car.jpeg' %}">
</div>
<div>
    <h3>This is the title</h3>
    <img  src="{% static 'images/car.jpeg' %}">
</div>
<div>
    <h3>This is the title</h3>
    <img  src="{% static 'images/car.jpeg' %}">
</div>
<div>
    <h3>This is the title</h3>
    <img  src="{% static 'images/car.jpeg' %}">
</div>
<div>
    <h3>This is the title</h3>
    <img  src="{% static 'images/car.jpeg' %}">
</div>
<div>
    <h3>This is the title</h3>
    <img  src="{% static 'images/car.jpeg' %}">
</div>




{% endblock %}
