{% extends "core/base.html" %}
{% load static %}
{% block title %} Home{% endblock %}
{% block cars %}
{% for car in cars %}
<div>
    <h3>{{car.brand}} </h3>
    <div style="position:relative;"> <a href="#"><img src="{{ car.image.url }}" /></a></div>
    <h3
        style="background-color: brown; color: white;position: absolute; margin-top: -50px;margin-left: 0px;margin-top: -48px;">
        $<span style="margin-right: 5px; font-weight: bolder;">{{car.price}}</span>
    </h3>
</div>
{% endfor %}
{% endblock %}