<div class="container danger">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top text-danger">
        <p class="col-md-4 mb-0 text-muted">&copy; 2022 Company, Inc</p>
        <ul class="nav col-md-4 justify-content-center gap-4">
            <li>
                <i class="fa-brands fa-square-facebook" style="width: 24px; height:24px; color: rgb(66,115,160);"></i>
            </li>
            <li>
                <i class="fa-brands fa-square-instagram" style="width: 24px; height:24px; color: #b84b19;"></i>
            </li>
        </ul>
        <ul id="nav-ul" class="nav col-md-4 justify-content-center justify-content-sm-center">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Cars</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Contact</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
    </footer>
</div>