{% load static %}
<nav class="navbar  navbar-expand-sm fixed-top mt-0">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <span id="logo" class="logo text-white p-2 m-2" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;"> 
                    <img src=" {% static 'images/logo__.png' %}" style="width:60px; height: auto;">                
            </span>
        </a> 

        <button class="navbar-toggler" id="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main"
            aria-controls="main" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="main">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-md-5 font-monospace fst- fw-normal ps-4 gap-lg-5">
                <li id="toggled" class="nav-item ">
                    <a id="nav-link" class="nav-link active text-danger p-lg-3" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a id="nav-link" class="nav-link text-danger p-2 p-lg-3" href="#">Cars</a>
                </li>
                <li class="nav-item">
                    <a id="nav-link" class="nav-link text-danger p-2 p-lg-3" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a id="nav-link" class="nav-link text-danger p-2 p-lg-3" href="#">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>