{% extends 'core/base.html' %}
{% block navbar %}
<nav class="navbar sticky navbar-expand-sm border-bottom p-0 bg-light">
    <div class="container-fluid">
        <a class="navbar-brand ms-5" href="#">
            <img id="logo" src="../../../static/imgs/logo.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul id="nav-list" class="navbar-nav d-flex gap-lg-5 gap-md-3 gap-sm-2">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
        </div>
    </div>
</nav>
{% endblock navbar %}